PORT=5001

# Database Credentials
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_DATABASE=
PG_PORT=5432

# Environment Config
NODE_ENV=development
PG_SSL=false
PG_SSL_REJECT_UNAUTHORIZED=true

# Pool & Performance Settings (Optional - Has Defaults)
PG_POOL_MAX=10
PG_IDLE_TIMEOUT=30000
PG_CONN_TIMEOUT=2000
PG_STMT_TIMEOUT=10000